<header ngIf="showNavbar">
    <div class="logo">
      <img src="./assets/hospital-logo.gif" alt="Hospital Logo">
    </div>
    <nav >
      <ul>
        <li><a routerLink="Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="About-us" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="Doctor" routerLinkActive="active">Doctors</a></li>
        <li><a routerLink="Nurse" routerLinkActive="active">Nurses</a></li>
        <li><a routerLink="Patient" routerLinkActive="active">Patients</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

<footer  ngIf="showNavbar">
    <nav>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>
    <p>&copy; 2023 WELLNESS HOSPITAL. All rights reserved.</p>
  </footer>