
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="width: 100%;">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="Create-Doctor" routerLinkActive="active" class="nav-link" >Add Doctor</a>
        </li>
    </ul>
  </nav>




<h1 class="text-center">Doctor Details</h1>

<div>
    <div>
        <label><b>First Name</b></label>
        {{doctor.doctorfirstname}}
    </div>
    <div>
        <label><b>Last Name</b></label>
        {{doctor.doctorlastname}}
    </div>

    <div>
        <label><b>Email</b></label>
        {{doctor.doctoremail}}
    </div>

    <div>
        <label><b>Mobile</b></label>
        {{doctor.doctormobile}}
    </div>
    
    <div>
        <label><b>Password</b></label>
        {{doctor.doctorpassword}}
    </div>


</div>

