<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body style="background-image: url(./assets/mix-color.jpg);">

    <h1>Wellness Hospital</h1>
  <div class="container">
    <a routerLink="Admin-login" routerLinkActive="active" class="tile" id="tile1">
      <img src="./assets/Admin-icon.png" alt="Admin Icon">
      <span class="tooltip">LOGIN FOR ADMIN</span>
    </a>
    <a routerLink="User-login" routerLinkActive="active" class="tile" id="tile2">
      <img src="./assets/user-icon.jpg" alt="Admin Icon">
      <span class="tooltip">LOGIN FOR USER</span>
    </a>
  </div>
</body>
</html>
